:root{
    --mainGreen:#6F9B3C;
    --logoGreen:#00d347;
    --yellow-green:#A5CF61;
    --max-green-yellow:#E3E567;
    --deep-jungle-green:#23504D;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;

}
body{
    font-family: 'Poppins', sans-serif !important;
    background: var(--mainWhite) !important;
    color:var(--mainDark) !important;
}

.text-title{
    font-family: 'Noto Sans', sans-serif;
    letter-spacing:0.3rem;
    text-transform: uppercase;
}
.text-green{
    color: var(--yellow-green);
}
.text-bright{
    color:var(--max-green-yellow);
}
.nav-link{
    color:var(--yellow-green);
}
